footer{
    position: relative;
}

footer>hr{
    border: 1px solid var(--lightgray);
}
.footer-container{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.socials-links{
    display: flex;
    gap: 4rem;
}

.socials-links>img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.logo-f>img{
    width: 15rem;
}

